{% extends "layout.html" %}
{% block title %}Cached files{% endblock %}

{% block main %}

    <h3>Admin panel</h3>
    <p>Cached files</p>

    {% if cached_files %}
        <table style="width: 100%">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Size</b></td>
                    <td><b>Preview</b></td>
                </tr>
            </thead>
            <tbody>
                {% for file in cached_files %}
                    <tr>
                        <td>{{ file['name'] }}</td>
                        <td>{{ file['size'] }} Kb</td>
                        <td>
                            {% if file['is_image'] %}
                                <img src="{{ url_path }}/{{ file['name'] }}" style="max-width: 192px; max-height: 192px" alt="Image preview for {{ file['name'] }}">
                            {% else %}
                                Cannot preview
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No files in cache.</p>
    {% endif %}

    <p>Cache size: {{ total_size }} Kb</p>

    {% if not use_b2_storage %}
        <p style="color:red">Warning: B2 storage is disabled. The local cache is your only method of storage.</p>
    {% endif %}

    <a role="button" class="menu-button" href="/panel/cache/clear/standard">Clear cache</a>
    <a role="button" class="menu-button" href="/panel/main">Return</a>

{% endblock %}