{% extends "layout.jinja2" %}
{% block title %}Login{% endblock %}

{% block main %}

    <h3>Admin panel entry</h3>
    <form method="POST" action="/panel/login">
        <label>Auth: <input type="text" name="auth_key" placeholder="Auth key"></label>
        <input type="submit" value="Access">
    </form>

{% endblock %}